<div class="release-full">

	<div class="leftframe">
		<div class="cover"><img src="{{cover}}" alt="{{album}} - {{artist}}"></div>
		<div class="titles">
			<h1><span class="album">{{album}}</span> <span class="artist">{{artist}}</span></h1>
		</div>
		{{#if country}}<img class="artist-country" src="/flags/_flag_{{removeDot country}}.png" />{{/if}}
		{{#if cc}}<div class="cc"><a href="{{cc}}"><img src="/iconss/{{cc_img}}"/></a></div>{{/if}}
	</div>
	
	<div class="details">
		<div class="release-date block">Released on <span>{{formattedDate}}</span></div>
		{{#if info_en}}<div class="block info_en">{{{info_en}}}</div>{{/if}}
		{{#if info_pt}}<div class="block info_pt">{{{info_pt}}}</div>{{/if}}
		
		<div class="download_links block">Download links:<br>
			{{#if fma}}
				<a href="{{fma}}"><img src="/iconss/fma.png"></a>
			{{/if}}
			{{#if archiveorg}}
				<a href="{{archiveorg}}"><img src="/iconss/archiveorg.png"></a>
			{{/if}}
			{{#if scene_org}}
				<a href="{{scene_org}}"><img src="/iconss/sceneorg.png"></a>
			{{/if}}
			{{#if clearbits}}
				<a href="{{clearbits}}"><img src="/iconss/legaltorrents.png"></a>
			{{/if}}
			{{#if sonicsquirrel}}
				<a href="{{sonicsquirrel}}"><img src="/iconss/sonicsquirrel.png"></a>
			{{/if}}
			{{#if soundshiva}}
				<a href="{{soundshiva}}"><img src="/iconss/soundshiva.png"></a>
			{{/if}}
			{{#if dogmazic}}
				<a href="{{dogmazic}}"><img src="/iconss/dogmazic.png"></a>
			{{/if}}
			{{#if jamendo}}
				<a href="{{jamendo}}"><img src="/iconss/jamendo.png"></a>
			{{/if}}
			{{#if bandcamp}}
				<a href="{{bandcamp}}"><img src="/iconss/bandcamp.png"></a>
			{{/if}}
			{{#if soundcloud}}
				<a href="{{soundcloud}}"><img src="/iconss/soundcloud.png"></a>
			{{/if}}
			{{#if mixcloud}}
				<a href="{{mixcloud}}"><img src="/iconss/mixcloud.png"></a>
			{{/if}}
			{{#if lastfm}}
				<a href="{{lastfm}}"><img src="/iconss/lastfm.png"></a>
			{{/if}}
			{{#if itunes}}
				<a href="{{itunes}}"><img src="/iconss/itunes.png"></a>
			{{/if}}
			{{#if amazon}}
				<a href="{{amazon}}"><img src="/iconss/amazon.png"></a>
			{{/if}}
			{{#if googleplay}}
				<a href="{{googleplay}}"><img src="/iconss/googleplay.png"></a>
			{{/if}}
			{{#if spotify}}
				<a href="{{spotify}}"><img src="/iconss/spotify.png"></a>
			{{/if}}
			{{#if discogs}}
				<a href="{{discogs}}"><img src="/iconss/discogs.png"></a>
			{{/if}}
			{{#if rym}}
				<a href="{{rym}}"><img src="/iconss/rym.png"></a>
			{{/if}}
			{{#if musicbrainz}}
				<a href="{{musicbrainz}}"><img src="/iconss/musicbrainz.png"></a>
			{{/if}}
		</div>
		
		{{#if numTracks}}<div class="button play">Play ({{numTracks}} {{pluralize numTracks 'track' 'tracks'}})</div>{{/if}}
	</div>
	
	<div class="clear"></div>
		
</div>
