<div class="release-full">
	<div class="cover"><img src="{{cover}}" alt="{{album}} - {{artist}}"></div>
	<div class="details">
		<div class="titles">
			<h1>{{album}} - {{artist}}</h1>
		</div>
		<div class="info">
			{{{info_en}}}
		</div>
	</div>
</div>