<a class="release" href="/release/{{cat}}">
	<div class="card">
		<div class="face front">
			<div class="tags">{{tags}}</div>
		    <div class="cover">
		        <img src="{{ cover }}" />
		    </div>
		    <div class="titles">
		        <span class="album">{{{ album }}}</span>
		        <span class="artist">{{{ artist }}}</span>
		    </div>
		</div>
	</div>
</a>